<%-include("partials/header")-%> <%# CONTENT GOES HERE %>
<!-- scroll up button -->
<button id="back-to-top-btn"><i class="fa fa-angle-double-up"></i></button>

<header class="header show-on-scroll">
  <div class="main-img">
    <img src="img/fresh-bg-img2.jpg" />
    <h1 class="heading" style="font-family: 'Allura', cursive;">
      Our Story
    </h1>
  </div>
</header>
<article class="content">
  <h3 style="font-family: 'Libre Baskerville', serif;">Hi, We're Beanie Coffee Shop</h3>
  <p>
    Since its launch in Vietnam in 2020, Beanie Beanie has developed into a
    reputable cafe &amp; bakery franchise, specializing in Italian-Asian
    inspired tea &amp; coffee, passionately made from the finest ingredients. At
    Beanie, we offer more than diversity kinds of beverages, including
    Vietnamese coffee, tea &amp; soda pastries, cakes, and desserts. We brew
    each day to provide fresh products for our guests and take pride in sourcing
    and using carefully selected fine ingredients. Beanie Beanie goal is to
    expand and embrace innovation in all markets. Our franchise model aims to
    busy students, business men and women.
  </p>
  <img src="img/man_woman_coffee.jpg" class="inline-photo show-on-scroll centered-img"/>
  <div class="row">
    <div class="column">
  <h3 style="font-family: 'Libre Baskerville', serif;">Freshness &amp; Quality</h2>
  <p>
    Beanie Beanie promises to bring freshly brewed products made with quality
    ingredients to your table every day. We will only serve products that we
    feel confident in feeding our own families.
  </p></div>
  <div class="column">
  <img src="img/fresh-bg-img.jpg" class="inline-photo show-on-scroll centered-img" /></div>

  <div class="row">
    <div class="column">
  <img src="img/joyful-bg-img.jpg" class="inline-photo show-on-scroll centered-img" /></div>
  <div class="column">
  <h3 style="font-family: 'Libre Baskerville', serif;">Joyful Experience</h3>
  <p>
    We want to not only bring great drinks, but smiles to our patrons’ faces.
    Whether it be in form of energized drinks, beverages, or dessert, Beanie
    wants to be the flavor that brings joy to your day.
  </p></div>
</div>
</article>

<script src="javascript/main.js"></script>
<script src="javascript/show-on-scroll.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<%-include ("partials/footer")-%>
