<%-include("partials/adminHeader")-%>
<div class="main-container">
  <div class="item">
    <h1>Product Management</h1>
  </div>
  <div class="item product-board container" style="text-align: center; ">
    <div class="row header">
      <div class="col-2">
        <p>Name</p>
      </div>
      <div class="col-2">
        <p>Category</p>
      </div>
      <div class="col-2">
        <p>Description</p>
      </div>
      <div class="col-2">
        <p>Price</p>
      </div>

      <div class="col-2">
        <p>Photo</p>
      </div>
      <div class="col-2">

      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <p>Black Coffee</p>
      </div>
      <div class="col-2">
        <p>Coffee</p>
      </div>
      <div class="col-2">
        <p>abcd</p>
      </div>
      <div class="col-2">
        <p>340000</p>
      </div>
      <div class="col-2">
        <img class="product-img" src="img/cf1.jpg" alt="">
      </div>
      <div class="col-2">
        <div class="row edit">
          <div class="col-4">
            <i class="far fa-edit"></i>
          </div>
          <div class="col-4">
            <i class="fa fa-times"></i>
          </div>
          <div class="col-4">
            <i class="fa fa-check"></i>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <p>Black Coffee</p>
      </div>
      <div class="col-2">
        <p>Coffee</p>
      </div>
      <div class="col-2">
        <p>abcd</p>
      </div>
      <div class="col-2">
        <p>340000</p>
      </div>
      <div class="col-2 product-img">
        <img class="product-img" src="img/cf1.jpg" alt="">
      </div>
      <div class="col-2">
        <div class="row edit">
          <div class="col-4">
            <i class="far fa-edit"></i>
          </div>
          <div class="col-4">
            <i class="fa fa-times"></i>
          </div>
          <div class="col-4">
            <i class="fa fa-check"></i>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<%-include("partials/adminFooter")-%>