<%-include("partials/header")-%> <%# CONTENT GOES HERE %>

<h1 id="cart-head" style="text-transform: uppercase; letter-spacing: 3px;">
  Order detail
</h1>
<div class="container text-center">
  <div class="row">
    <div class="col-lg-12">
      <!-- Cart Elements -->
      <div class="cartElements">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-2">
            <p class="c-title">Name</p>
          </div>
          <div class="col-2">
            <p class="c-title">Size</p>
          </div>
          <div class="col-2">
            <p class="c-title">Price</p>
          </div>
          <div class="col-2">
            <p class="c-title">Amount</p>
          </div>

          <div class="col-2"></div>
        </div>

        <!-- For each cart element -->

        <div class="row">
          <div class="col-2">
            <img class="cartImg" alt="" />
          </div>
          <div class="col-2">
            <p>Name</p>
          </div>
          <div class="col-2">
            <p>size</p>
          </div>
          <div class="col-2">
            <p>price</p>
          </div>
          <div class="col-2">
            <p>1</p>
          </div>
        </div>

        <div class="row">
          <div class="col-6"></div>
          <div class="col-2">
            <p class="c-title">Subtotal</p>
          </div>
          <div class="col-2">
            <p>100000</p>
          </div>
          <div class="col-2"></div>
        </div>
      </div>
    </div>
  </div>

  <h1 id="cart-history" style="text-transform: uppercase; letter-spacing: 3px;">
    Order History
  </h1>

  <div class="row">
    <span>Date: </span>
    <div class="col-lg-12">
      <!-- Cart Elements -->
      <div class="cartElements">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-2">
            <p class="c-title">Name</p>
          </div>
          <div class="col-2">
            <p class="c-title">Size</p>
          </div>
          <div class="col-2">
            <p class="c-title">Price</p>
          </div>
          <div class="col-2">
            <p class="c-title">Amount</p>
          </div>

          <div class="col-2"></div>
        </div>

        <!-- For each cart element -->

        <div class="row">
          <div class="col-2">
            <img class="cartImg" alt="" />
          </div>
          <div class="col-2">
            <p>Name</p>
          </div>
          <div class="col-2">
            <p>size</p>
          </div>
          <div class="col-2">
            <p>price</p>
          </div>
          <div class="col-2">
            <p>1</p>
          </div>
        </div>

        <div class="row">
          <div class="col-6"></div>
          <div class="col-2">
            <p class="c-title">Subtotal</p>
          </div>
          <div class="col-2">
            <p>100000</p>
          </div>
          <div class="col-2"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <span>Date: </span>
    <div class="col-lg-12">
      <!-- Cart Elements -->
      <div class="cartElements">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-2">
            <p class="c-title">Name</p>
          </div>
          <div class="col-2">
            <p class="c-title">Size</p>
          </div>
          <div class="col-2">
            <p class="c-title">Price</p>
          </div>
          <div class="col-2">
            <p class="c-title">Amount</p>
          </div>

          <div class="col-2"></div>
        </div>

        <!-- For each cart element -->

        <div class="row">
          <div class="col-2">
            <img class="cartImg" alt="" />
          </div>
          <div class="col-2">
            <p>Name</p>
          </div>
          <div class="col-2">
            <p>size</p>
          </div>
          <div class="col-2">
            <p>price</p>
          </div>
          <div class="col-2">
            <p>1</p>
          </div>
        </div>

        <div class="row">
          <div class="col-6"></div>
          <div class="col-2">
            <p class="c-title">Subtotal</p>
          </div>
          <div class="col-2">
            <p>100000</p>
          </div>
          <div class="col-2"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="thank">
    <h1>
      Thank you for choosing Beanie Beanie <i class="far fa-grin-hearts"></i>
    </h1>
    <div class="row">
      <a href="product"
        >Click here to order more <i class="fas fa-store"></i
      ></a>
    </div>
  </div>
</div>

<%-include ("partials/footer")-%>
