<%-include("partials/header")-%> <%# CONTENT GOES HERE %>
<!-- scroll up button -->
<button id="back-to-top-btn"><i class="fas fa-angle-double-up"></i></button>
<div class="pro-banner">
  <img style="width: 100%; height: 80vh;" src="img/cf3.jpg" alt="Menu" />
  <div class="banner-content">
    <h1 class="show-on-scroll">Menu</h1>
    <p class="show-on-scroll">
      We offer not only best <strong> coffee </strong>experiences but also
      finest <strong>teas &amp; pastries </strong>tastes
    </p>
  </div>
</div>

<h2 style="
    padding: 20px 0 0;
    margin: 30px auto 0;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 2px;
    color: #30475e;
    text-transform: uppercase;
  ">
  Menu Overview
</h2>
<div class="pro-container">
  <div class="pro-card">
    <div class="sliderText">
      <img src="img/menu/coffee/chocolate-marshmallow.jpg" alt="" />
    </div>
    <div class="pro-content">
      <h3>Coffee</h3>
      <p>
        Our Espresso shots are freshly pulled and handcrafted to create a
        perfectly balanced shot with golden crema, a caramel-like aroma, velvety
        body, earthy flavor and a bittersweet finish.
      </p>
      <a href="#coffee">View all</a>
    </div>
  </div>

  <div class="pro-card">
    <div class="sliderText">
      <img src="img/menu/tea/blueberry-tea.jpg" alt="" />
    </div>
    <div class="pro-content">
      <h3>Tea &amp; Soda</h3>
      <p>
        Choose from a variety of the best green, oolong, black, flavored teas,
        or herbal infusions in the world.
      </p>
      <a href="#tea">View all</a>
    </div>
  </div>

  <div class="pro-card">
    <div class="sliderText">
      <img src="img/menu/pastry/pancake.jpg" alt="" />
    </div>
    <div class="pro-content">
      <h3>Pastry</h3>
      <p>
        An Artisan Bakery- Like Serving a Unique Selection of Freshly Baked
        Bread and Sweets
      </p>
      <a href="#pastry">View all</a>
    </div>
  </div>
</div>

<div class="product-line">
  <!-- COFFEE LINE -->

  <div class="line-header" id="coffee">
    <h2>Coffee</h2>
    <div class="underline"></div>
  </div>

  <div class="line-container">

    <div class="item">
      <img src="img/cf1.jpg" alt="" />

      <div class="itemDetail">
        <h3>Vietnamese Black Coffee</h3>
        <p>This is just a sample for dummy like me</p>
        <a href="#" class="cart-btn">Add to cart</a>
      </div>
    </div>



    <div class="item">
      <img src="img/menu/coffee/capuccino.jpg" alt="" />

      <div class="itemDetail">
        <h3>Vietnamese Black Coffee</h3>
        <p>This is just a sample for dummy like me</p>
        <a href="#" class="cart-btn">Add to cart</a>
      </div>
    </div>

    <div class="item">
      <img src="img/cf4.jpg" alt="" />

      <div class="itemDetail">
        <h3>Vietnamese Black Coffee</h3>
        <p>This is just a sample for dummy like me</p>
        <a href="#" class="cart-btn">Add to cart</a>
      </div>
    </div>
  </div>

  <!-- TEA LINE -->
  <div class="line-header" id="tea">
    <h2>Tea &amp; Soda</h2>
    <div class="underline"></div>
  </div>

  <div class="line-container">
    <div class="item">
      <img src="img/cf1.jpg" alt="" />

      <div class="itemDetail">
        <h3>Vietnamese Black Coffee</h3>
        <p>This is just a sample for dummy like me</p>
        <a href="#" class="cart-btn">Add to cart</a>
      </div>
    </div>

    <div class="item">
      <img src="img/cf1.jpg" alt="" />

      <div class="itemDetail">
        <h3>Vietnamese Black Coffee</h3>
        <p>This is just a sample free for dummy like me</p>
        <a href="#" class="cart-btn">Add to cart</a>
      </div>
    </div>

    <div class="item">
      <img src="img/cf4.jpg" alt="" />

      <div class="itemDetail">
        <h3>Vietnamese Black Coffee</h3>
        <p>This is just a sample for dummy like me</p>
        <a href="#" class="cart-btn">Add to cart</a>
      </div>
    </div>
  </div>

  <!-- PASTRY LINE -->
  <div class="line-header" id="pastry">
    <h2>Pastry</h2>
    <div class="underline"></div>
  </div>

  <div class="line-container">
    <div class="item">
      <img src="img/cf1.jpg" alt="" />

      <div class="itemDetail">
        <h3>Vietnamese Black Coffee</h3>
        <p>This is just a sample for dummy like me</p>
        <a href="#" class="cart-btn">Add to cart</a>
      </div>
    </div>

    <div class="item">
      <img src="img/cf1.jpg" alt="" />

      <div class="itemDetail">
        <h3>Vietnamese Black Coffee</h3>
        <p>This is just a sample for dummy like me</p>
        <a href="#" class="cart-btn">Add to cart</a>
      </div>
    </div>

    <div class="item">
      <img src="img/cf4.jpg" alt="" />

      <div class="itemDetail">
        <h3>Vietnamese Black Coffee</h3>
        <p>This is just a sample for dummy like me</p>
        <a href="#" class="cart-btn">Add to cart</a>
      </div>
    </div>
  </div>
</div>

<script src="javascript/main.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<%-include ("partials/footer")-%>