<%-include("partials/header")-%>

<%# CONTENT GOES HERE  %>
<!-- scroll up button -->
<button id="back-to-top-btn"><i class="fas fa-angle-double-up"></i></button>


<script src="javascript/main.js"></script>
<%-include ("partials/footer")-%>
