<%-include("partials/header")-%> <%# CONTENT GOES HERE %>
<style>
  body {
    background: url(img/coffee-laptop-bg-img.jpg) no-repeat;
    background-size: cover;
  }
</style>

<%if(success===false){%> <%=msg%> <%}%>

<div class="login-box">
  <div class="login-container">
    <form class="login-form" method="POST" action="/register">
      <h1 style="font-family: 'Allura', cursive;">Registration</h1>
      <div class="text-box one">
        <div class="login-i">
          <i class="fa fa-id-card"></i>
        </div>
        <div>
          <h5>Full Name</h5>
          <input class="input" type="fullname" name="fullname" />
        </div>
      </div>

      <div class="text-box one">
        <div class="login-i">
          <i class="fa fa-user"></i>
        </div>
        <div>
          <h5>Username</h5>
          <input class="input" type="username" name="username" />
        </div>
      </div>

      <div class="text-box one">
        <div class="login-i">
          <i class="fa fa-home"></i>
        </div>
        <div>
          <h5>Address</h5>
          <input class="input" type="address" name="address" />
        </div>
      </div>

      <div class="text-box one">
        <div class="login-i">
          <i class="fa fa-mobile"></i>
        </div>
        <div>
          <h5>Phone Number</h5>
          <input class="input" type="text" name="phoneNumber" />
        </div>
      </div>

      <div class="text-box one">
        <div class="login-i">
          <i class="fa fa-envelope"></i>
        </div>
        <div>
          <h5>Email</h5>
          <input class="input" type="email" name="email" />
        </div>
      </div>

      <div class="text-box two">
        <div class="login-i">
          <i class="fa fa-lock"></i>
        </div>
        <div>
          <h5>Password</h5>
          <input class="input" type="password" name="password" />
        </div>
      </div>
      <input class="login-btn" type="submit" value="Signup" />
    </form>
  </div>
</div>

<script src="javascript/login-effect.js"></script>
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>