<!-- Footer -->
<link rel="stylesheet" href="style.css" />
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"> -->
<footer class="footer">
  <!-- <div class="inner-footer"> -->

  <div class="container-fluid text-center">
    <div class="row text-centered">

      <div class="col-md-3">
        <h1><a class="navbar-brand" href="/">BEANIE BEANIE</a></h1>
        <hr class="light" />


      </div>
      <!-- <div class="logo-container">

      </div> -->
      <div class="col-md-3">

        <hr class="light" />
        <h5 style="font-family: 'Libre Baskerville', serif;">Contact and Location</h5>
        <hr class="light" />
        <p>238-778-555</p>
        <p>ebeansince2020@gmail.com</p>
        <p>144 Nguyen Thi Minh Khai Street, Ward 13, District 1</p>
        <p>Ho Chi Minh City</p>
      </div>

      <div class="col-md-3">
        <hr class="light" />
        <h5 style="font-family: 'Libre Baskerville', serif;">Our Hours</h5>
        <hr class="light" />
        <p>Monday- Sunday: 9am- 10pm </p>
        <hr class="light" />
        <h5 style="font-family: 'Libre Baskerville', serif;">Follow Us</h5>
        <hr class="light" />
        <ul class="footer-social-media">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <hr class="light" />
        <h5 style="font-family: 'Libre Baskerville', serif;">Service</h5>
        <hr class="light" />
        <div class="footer-child">
          <a href="#">Delivery</a>
          <a href="#">Lost and Found</a>
          <a href="#">Customer feedback</a>
          <a href="#">Q&amp;A</a>
        </div>
      </div>



      <!-- socket session -->
      <div class="col-12">
        <hr class="light">
        <h5 style="font-family: 'Libre Baskerville', serif;">&copy; Beanie Beanie Copyright</h5>
      </div>
    </div>
  </div>

  <!-- </div> -->
</footer>
<script src="https://kit.fontawesome.com/6f4bd4c6ee.js" crossorigin="anonymous"></script>
<script src="javascript/main.js"></script>
<script src="javascript/show-on-scroll.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>