<!-- Footer -->
<link href="/Server/view/style.css"rel="stylesheet" type="text/css">
<footer class="footer">
  <div class="inner-footer">
    <div class="logo-container">
      <a class="navbar-brand" href="/">BEANIE BEANIE</a>
    </div>
    <div class="container-fluid padding"></div>
    <div class="row">
      <div class="col-md-4">
        <hr class="light" />
        <h5 style="font-family: 'Libre Baskerville', serif;">Contact and Location</h5>
        <hr class="light" />
        <p>238-778-555</p>
        <p>ebeansince2020@gmail.com</p>
        <p>144 Nguyen Thi Minh Khai Street, Ward 13, District 1</p>
        <p>Ho Chi Minh City</p>
    </div>
    
    <div class="col-md-4">
      <hr class="light" />
      <h5 style="font-family: 'Libre Baskerville', serif;">Our Hours</h5>
      <hr class="light" />
      <p>Monday- Sunday: 9am- 10pm </p>

    </div>
    <div class="col-md-4">
      <hr class="light" />
      <h5 style="font-family: 'Libre Baskerville', serif;">Service</h5>
      <hr class="light" />
      <div class="footer-child">
      <a href="#">Delivery</a>
      <a href="#">Lost and Found</a>
      <a href="#">Customer feedback</a>
      <a href="#">Q&amp;A</a>
    </div>
    </div>

  <div class="col-md-4">
    <hr class="light" />
    <h5 style="font-family: 'Libre Baskerville', serif;">Follow Us</h5>
    <hr class="light" />
    <ul class="footer-social-media">
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    </ul>
  </div>

    <!-- socket session -->
    <div class="col-12 centered">
      <hr class="light">
      <h5 style="font-family: 'Libre Baskerville', serif;">&copy; Beanie Beanie Copyright</h5>
    </div>
  </div>
</footer>

</body>

</html>
