<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <title>Beanie Beanie</title>
  </head>

  <body>
    <nav id="topnav" class="navbar navbar-expand-lg fixed-top">
      <a class="navbar-brand" href="/">Beanie Beanie</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container">
        <form class="search-bar">
          <div class="input-group">
            <div class="input-group-btn">
              <button
                style="
                  border-radius: 0;
                  border-color: rgb(57, 62, 70, 0.3);
                  margin-left: 50%;
                  padding-left: 25px;
                  padding-right: 25px;
                "
                class="btn btn-default"
              >
                <i class="fas fa-search"></i>
              </button>
            </div>
            <input
              style="
                border-radius: 0;
                background-color: rgb(255, 255, 255, 0.4);
                border-color: rgb(57, 62, 70, 0.3);
              "
              class="form-control"
              type="text"
              placeholder="Search"
              name="search"
            />
          </div>
        </form>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-shopping-cart"></i></a>
          </li>
          <%if(!user){%>
          <!-- LOGIN LINK -->
          <li class="nav-item">
            <a class="nav-link" href="/login"><i class="fas fa-user"></i></a>
          </li>
          <!-- SIGN UP LINK -->
          <li class="nav-item">
            <a class="nav-link" href="/register"
              ><i class="fas fa-user-cog"></i
            ></a>
          </li>
          <%}else{%>
          <li class="nav-item">
            <a class="nav-link" href=""
              ><i class="fas fa-user-edit"></i> Hi, <%=user.fullname%></a
            >
          </li>
          <!-- LOG OUT LINK -->
          <li class="nav-item">
            <form method="POST" action="/logout">
              <button id="sign-out-btn" class="nav-link">
                <i class="fa fa-sign-out nav-link"></i>
              </button>
            </form>
          </li>
          <%}%>
        </ul>
      </div>
    </nav>
    <nav id="subnav" class="navbar navbar-expand-lg navbar-light">
      <!-- <div class="container"></div> -->

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="product">Menu </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
